<form (submit)="addAppointment()" [formGroup]="fineForm" class="text-white">
  <!-- todo: add date picker -->
  <div class="md-form form-group mt-3">
    <input mdbInput type="text" class="form-control text-white" id="form-date" formControlName="date">
    <label for="form-date" class="text-white">{{ 'APPOINTMENT_DATE' | translate}}</label>
  </div>
  <div class="md-form form-group mt-3">
    <input mdbInput type="text" class="form-control text-white" id="form-time" formControlName="time">
    <label for="form-time" class="text-white">{{ 'APPOINTMENT_TIME' | translate}}</label>
  </div>
  <div class="md-form form-group mt-3">
    <input mdbInput type="text" class="form-control text-white" id="form-name" formControlName="name">
    <label for="form-name" class="text-white">{{ 'APPOINTMENT_NAME' | translate}}</label>
  </div>
  <div class="md-form form-group mt-3">
    <input mdbInput type="text" class="form-control text-white" id="form-number" formControlName="telephone">
    <label for="form-number" class="text-white">{{ 'APPOINTMENT_CELL' | translate}}</label>
  </div>
  <div class="md-form form-group mt-3">
    <input mdbInput type="text" class="form-control text-white" id="form-waytime" formControlName="waytime">
    <label for="form-waytime" class="text-white">{{ 'APPOINTMENT_WAYTIME' | translate}}</label>
  </div>
  <button mdbBtn class="btn-block my-4" color="cyan" type="submit" mdbWavesEffect
    type="submit">{{ 'GENERIC_CREATE' | translate}}</button>
</form>