<div class="media">
  <div class="{{ value.statuscolor }} p-1 mr-2 rounded">
    <h3 class="h3-responsive font-weight-bold m-0">{{ value.dateTime | date : 'HH:mm' }}</h3>
  </div>
  <div class="media-body mb-3">

    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Actions">
      <!-- state 'disabled' fehlt noch, bei freien Terminen -->
        <button mdbBtn type="button" color="danger" class="waves-light" (click)="handleDeleteClick()" mdbWavesEffect><mdb-icon fas icon="calendar-times" size="2x" class="p-1"></mdb-icon></button>
        <button mdbBtn type="button" color="cyan" class="waves-light" (click)="handleActionClick()" mdbWavesEffect><mdb-icon fas icon="paper-plane" size="2x" class="p-1"></mdb-icon></button>
    </div>

<h3 class="mt-0 mx-5 text-center text-muted float-right">{{ value.status }}</h3>
<h3 class="mt-0">{{ value.name }}</h3>
<p class="mb-0" *ngIf="value.telephone">
  <mdb-icon fas icon="phone"></mdb-icon>
  {{ value.telephone }}
</p>
<p class="mb-0" *ngIf="value.uuid">
  {{ value.uuid}}
</p>
<hr class="hr-bold mb-0 my-2" />
</div>

</div>
