<div class="jumbotron jumbotron-fluid my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-justify">
        <h3 class="display-4 mt-0">warte.cloud</h3>
        <h4 class="mb-4">Jetzt Ansteckungen verhindern.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-justify">
        <p class="lead">Im Rahmen des <a href="https://wirvsvirushackathon.org/" target="_blank">#WIRvsVIRUS Hackathon</a> der Bundesregierung entstanden. Wir hoffen damit langfristig zu einer gesünderen Gesellschaft beitragen zu können.</p>
        <p>warte.cloud vermeidet unnötige Wartezeiten in überfüllten Wartezimmern durch das Aussenden zeitnaher Benachrichtigungen an die Patienten. Dies verhindert Infektionen und freut die Patienten.</p>
        <p>Auf <a href="https://devpost.com/software/digitales-wartezimmer" target="_blank"><span class="intexticon"><img src="..\assets\img\devpost.svg" alt="icon devpost"> devpost</span></a> können Sie jederzeit eine aktuelle Projektbeschreibung finden.</p>
      </div>
      <div class="col-md-6 text-justify">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LAht6VgoXEI" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
