    <div class="row justify-content-center my-5">
      <div class="col-md-8 col-sm-10">

        <mdb-card class="mt-5">
          <span class="logo-round rounded-circle cyan"><img src="..\assets\img\wartecloud.svg"></span>
          <form class="text-center px-5 pt-3 pb-5">

            <p class="h4 mb-4">{{ 'TITLE_LOGIN' | translate}}</p>

            <!-- Input E-Mail -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="{{ 'USER_EMAIL' | translate}}" name="username" [(ngModel)]="username">

            <!-- Input Passwort -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="{{ 'USER_PASSWORD' | translate}}" name="password" [(ngModel)]="password">

              <div class="justify-content-around">
                <!-- Anmeldung merken // fehlt noch komplett -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  <label class="custom-control-label" for="defaultLoginFormRemember">{{ 'TXT_REMEMBER_LOGIN' | translate}}</label>
                </div>
              </div>

            <!-- Button Login -->
            <button mdbBtn class="btn-block my-4" color="cyan" mdbWavesEffect type="submit" (click)="login()">{{ 'BTN_LOGIN' | translate}}</button>

            <div class="mb-3">
              <!-- Forgot password // fehlt noch komplett -->
              <a href="#">{{ 'LINK_FORGOT_PASSWORD' | translate}}</a>
            </div>
            <!-- CTA / Kontakt  // fehlt noch komplett -->
            <p>{{ 'LINK_REGISTER' | translate}}
              <a href="mailto:contact@warte.cloud?subject=Hello World">{{ 'TXT_CONTACT_US' | translate}}</a>
            </p>


          </form>
        </mdb-card>
      </div>
    </div>
