<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-8 col-sm-10">
      <mdb-card>
        <mdb-card-body class="text-center py-5">
          <mdb-card-title>
            <h3 class="mb-4">{{ 'TXT_TAKE_APPOINTMENT' | translate}}</h3>
          </mdb-card-title>
          <div class="row">
            <div class="col-6"><button mdbBtn type="button" color="danger" class="waves-light" (click)="appointmentNo()"
                *ngIf="this.isSelectionAllowed" mdbWavesEffect>
                <mdb-icon fas icon="calendar-times" size="2x" class="p-1"></mdb-icon>{{ 'GENERIC_NO' | translate}}
              </button></div>
            <div class="col-6"><button mdbBtn type="button" color="cyan" class="waves-light" (click)="appointmentYes()"
                *ngIf="this.isSelectionAllowed" mdbWavesEffect>
                <mdb-icon fas icon="calendar-check" size="2x" class="p-1"></mdb-icon>{{ 'GENERIC_YES' | translate}}
              </button></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>