mdb-card-body {
  background-color: #222222 !important;
}

.logo-round {
  display: flex;
  width: 6.5rem;
  height: 6.5rem;
  margin: -4.5rem auto 0 auto;
  border: solid 0.5rem #222222;
}

.logo-round > img {
  width: 70%;
  margin: 0 auto;
}

#blank-bg {
  background-color: white;
  height: 90px;
}

#delayContainer > button {
  margin: 0;
}

.mdb-date-time {
  mdb-date-picker::ng-deep .mydp,
  mdb-time-picker::ng-deep .tp {
    &,
    input,
    .md-form {
      height: 0;
      width: 0;
    }
  }
}
