<main>
  <div class="container">
    <div class="row mt-3">

      <!-- left bar / add appointment & calender -->

      <div class="col-md-3">
        <mdb-card class="text-center sticky-top">
          <div class="white" id="blank-bg">
          </div>
          <mdb-card-body>
            <span class="logo-round rounded-circle cyan"><img src="..\assets\img\wartecloud.svg" (dblclick)="showClippy()"></span>
            <h3 class="mt-4 mb-2 text-white">{{ 'TITLE_NEW_APPOINTMENT' | translate}}</h3>

            <app-create-appointment-form></app-create-appointment-form>

          </mdb-card-body>
        </mdb-card>
      </div>

      <!-- main area -->

      <div class="col-md-9">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-6">
              <h1>{{ 'TITLE_IN_WAITING_ROOM' | translate}}</h1>
            </div>
            <div class="col-md-6">
              <div class="row" id="delayContainer">
                <button type="button" mdbBtn class="col-md-3" (click)="delayAppointment(-15)" color="green" mdbWavesEffect>
                  -15
                </button>
                <button type="button" mdbBtn class="col-md-3" (click)="delayAppointment(-5)" color="green" mdbWavesEffect>
                  -5
                </button>
                <button type="button" mdbBtn class="col-md-3" (click)="delayAppointment(5)" color="red" mdbWavesEffect>
                  +5
                </button>
                <button type="button" mdbBtn class="col-md-3" (click)="delayAppointment(15)" color="red" mdbWavesEffect>
                  +15
                </button>
              </div>
            </div>
          </div>
          <h5 class="mt-4 mb-3">{{ getToday() | translate}}</h5>
          <div *ngFor="let event of events">
            <app-event
              [value]="event"
              (deleteEventInstanceEvent)="deleteEvent($event)"
              (actionEventInstanceEvent)="actionEvent($event)"
            ></app-event>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
