<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white justify-content-between">
    <mdb-navbar-brand>
        <a routerLink="" class="navbar-brand"><img src="assets\img\wartecloud.svg">warte.cloud</a>
    </mdb-navbar-brand>
    <links>
        <form class="form-inline ml-auto" mdbWavesEffect>
          <a href="#" class="text-decoration-none mr-4" style="color: #FFFFFF !important" (click)="showClippy()">{{'TITLE_DONT_CLICK_HERE'|translate}}</a>
          <a href="#" routerLink="main" class="text-decoration-none mr-4" *ngIf="isLoggedIn()"><mdb-icon fas icon="chair"></mdb-icon> {{'TITLE_IN_WAITING_ROOM'|translate}}</a>
          <a href="#" routerLink="login" class="text-decoration-none mr-4" *ngIf="!isLoggedIn()"><mdb-icon fas icon="sign-in-alt"></mdb-icon> {{'LINK_LOGIN'|translate}}</a>
          <a (click)="logout()" class="text-decoration-none mr-4" *ngIf="isLoggedIn()"><mdb-icon fas icon="sign-out-alt"></mdb-icon> {{'LINK_LOGOUT'|translate}}</a>
          <a href="#" routerLink="impressum" class="text-decoration-none mr-4"><mdb-icon fas icon="file-alt"></mdb-icon> {{'LINK_IMPRINT'|translate}}</a>
          <select #langSelect id="langSelect" (change)="translate.use(langSelect.value)" class="browser-default custom-select">
            <option *ngFor="let lang of languages" [value]="lang.value" [selected]="lang.value === translate.currentLang">{{ lang.label }}</option>
          </select>
        </form>
        <a href="https://wirvsvirushackathon.org/" target="_blank"><img src="assets\img\Logo_Projekt_02.svg" alt="Logo wirvsvirus"></a>
    </links>
</mdb-navbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
