/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(src\assets\img\warteCloud_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  height: 100%;
}

a {
   color: #222222 !important;
   text-decoration: underline;
 }

// .btn-info {
//   background-color: #bee6ee !important;
//   color: #222222 !important;
// }
